<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>TheOnlineBook</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>

	</welcome-file-list>

	<error-page>
		<error-code>404</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error</location>
	</error-page>
	<servlet>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>com.team.controller.LoginController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/view/user/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProfileUserController</servlet-name>
		<servlet-class>com.team.controller.ProfileUserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProfileUserController</servlet-name>
		<url-pattern>/view/user/profile</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RegistrationController</servlet-name>
		<servlet-class>com.team.controller.RegistrationController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegistrationController</servlet-name>
		<url-pattern>/view/register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditProfileUserController</servlet-name>
		<servlet-class>com.team.controller.EditProfileUserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditProfileUserController</servlet-name>
		<url-pattern>/view/user/edit</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>HomePageController</servlet-name>
		<servlet-class>com.team.controller.HomePageController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomePageController</servlet-name>
		<url-pattern>/view/user/homepage</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LogoutController</servlet-name>
		<servlet-class>com.team.controller.LogoutController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutController</servlet-name>
		<url-pattern>/view/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShowShopController</servlet-name>
		<servlet-class>com.team.controller.ShowShopController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowShopController</servlet-name>
		<url-pattern>/view/user/shop</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProductDetailController</servlet-name>
		<servlet-class>com.team.controller.ProductDetailController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductDetailController</servlet-name>
		<url-pattern>/view/user/product-detail</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>ContactController</servlet-name>
		<servlet-class>com.team.controller.ContactController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContactController</servlet-name>
		<url-pattern>/view/user/contact</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShoppingCartController</servlet-name>
		<servlet-class>com.team.controller.ShoppingCartController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShoppingCartController</servlet-name>
		<url-pattern>/view/user/shopping-cart</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CheckoutController</servlet-name>
		<servlet-class>com.team.controller.CheckoutController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckoutController</servlet-name>
		<url-pattern>/view/user/checkout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BoardnewListController</servlet-name>
		<servlet-class>com.team.controller.BoardnewListController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BoardnewListController</servlet-name>
		<url-pattern>/user/new/list</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BoardnewDetailListController</servlet-name>
		<servlet-class>com.team.controller.BoardnewDetailListController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BoardnewDetailListController</servlet-name>
		<url-pattern>/user/new/list/detail</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddCartController</servlet-name>
		<servlet-class>com.team.controller.AddCartController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddCartController</servlet-name>
		<url-pattern>/view/user/add-cart</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteProductInCartController</servlet-name>
		<servlet-class>com.team.controller.DeleteProductInCartController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteProductInCartController</servlet-name>
		<url-pattern>/view/user/delete-cart</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateCartController</servlet-name>
		<servlet-class>com.team.controller.UpdateCartController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateCartController</servlet-name>
		<url-pattern>/view/user/update-cart</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PlaceOrderController</servlet-name>
		<servlet-class>com.team.controller.PlaceOrderController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PlaceOrderController</servlet-name>
		<url-pattern>/view/user/placeorder</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateQuantityProductController</servlet-name>
		<servlet-class>com.team.controller.UpdateQuantityProductController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateQuantityProductController</servlet-name>
		<url-pattern>/view/user/update-quantity</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SearchByKeyController</servlet-name>
		<servlet-class>com.team.controller.SearchByKeyController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchByKeyController</servlet-name>
		<url-pattern>/view/user/search-key</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SearchKeyTopicController</servlet-name>
		<servlet-class>com.team.controller.SearchKeyTopicController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchKeyTopicController</servlet-name>
		<url-pattern>/view/user/search-key-topic</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SearchByAuthorController</servlet-name>
		<servlet-class>com.team.controller.SearchByAuthorController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchByAuthorController</servlet-name>
		<url-pattern>/view/user/search-author</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SortByNameController</servlet-name>
		<servlet-class>com.team.controller.SortByNameController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SortByNameController</servlet-name>
		<url-pattern>/view/user/shop/sort-name</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SortByYearController</servlet-name>
		<servlet-class>com.team.controller.SortByYearController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SortByYearController</servlet-name>
		<url-pattern>/view/user/shop/sort-year</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ViewByYearController</servlet-name>
		<servlet-class>com.team.controller.ViewByYearController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewByYearController</servlet-name>
		<url-pattern>/view/user/shop/view-year</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ViewByTopicController</servlet-name>
		<servlet-class>com.team.controller.ViewByTopicController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewByTopicController</servlet-name>
		<url-pattern>/view/user/shop/view-topic</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ViewByPriceController</servlet-name>
		<servlet-class>com.team.controller.ViewByPriceController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewByPriceController</servlet-name>
		<url-pattern>/view/user/shop/view-price</url-pattern>
		<url-pattern>/view/user/shop/price</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DirectionSortController</servlet-name>
		<servlet-class>com.team.controller.DirectionSortController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DirectionSortController</servlet-name>
		<url-pattern>/view/user/shop/sort-direction</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BoardnewDetailController</servlet-name>
		<servlet-class>com.team.controller.BoardnewDetailController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BoardnewDetailController</servlet-name>
		<url-pattern>/view/user/new/detail</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>HomepageAdmin</servlet-name>
		<servlet-class>com.team.controller.admin.HomepageController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomepageAdmin</servlet-name>
		<url-pattern>/admin/homepage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginAdmin</servlet-name>
		<servlet-class>com.team.controller.admin.LoginAdmin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginAdmin</servlet-name>
		<url-pattern>/admin/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LogoutAdmin</servlet-name>
		<servlet-class>com.team.controller.admin.LogoutAdmin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutAdmin</servlet-name>
		<url-pattern>/admin/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ErrorHandleController</servlet-name>
		<servlet-class>com.team.controller.ErrorHandleController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ErrorHandleController</servlet-name>
		<url-pattern>/error</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ListUserController</servlet-name>
		<servlet-class>com.team.controller.admin.ListUserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListUserController</servlet-name>
		<url-pattern>/admin/list-user</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RemoveUserController</servlet-name>
		<servlet-class>com.team.controller.admin.RemoveUserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveUserController</servlet-name>
		<url-pattern>/admin/user/delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditUserController</servlet-name>
		<servlet-class>com.team.controller.admin.EditUserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditUserController</servlet-name>
		<url-pattern>/admin/user/edit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditAdminController</servlet-name>
		<servlet-class>com.team.controller.admin.EditAdminController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditAdminController</servlet-name>
		<url-pattern>/admin/admin/edit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ListAdminController</servlet-name>
		<servlet-class>com.team.controller.admin.ListAdminController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListAdminController</servlet-name>
		<url-pattern>/admin/list-admin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RemoveAdminController</servlet-name>
		<servlet-class>com.team.controller.admin.RemoveAdminController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveAdminController</servlet-name>
		<url-pattern>/admin/admin/delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddAdminController</servlet-name>
		<servlet-class>com.team.controller.admin.AddAdminController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddAdminController</servlet-name>
		<url-pattern>/admin/admin/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddBoardnewController</servlet-name>
		<servlet-class>com.team.controller.admin.AddBoardnewController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddBoardnewController</servlet-name>
		<url-pattern>/admin/new/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ImageUpload</servlet-name>
		<servlet-class>com.team.controller.admin.ImageUpload</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImageUpload</servlet-name>
		<url-pattern>/admin/image/upload</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ListBoardnewController</servlet-name>
		<servlet-class>com.team.controller.admin.ListBoardnewController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListBoardnewController</servlet-name>
		<url-pattern>/admin/list-boardnew</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RemoveBoardnewController</servlet-name>
		<servlet-class>com.team.controller.admin.RemoveBoardnewController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveBoardnewController</servlet-name>
		<url-pattern>/admin/new/delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditBoardnewController</servlet-name>
		<servlet-class>com.team.controller.admin.EditBoardnewController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditBoardnewController</servlet-name>
		<url-pattern>/admin/new/edit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ListCategoryController</servlet-name>
		<servlet-class>com.team.controller.admin.ListCategoryController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListCategoryController</servlet-name>
		<url-pattern>/admin/list-cate</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddCategoryController</servlet-name>
		<servlet-class>com.team.controller.admin.AddCategoryController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddCategoryController</servlet-name>
		<url-pattern>/admin/cate/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RemoveCategoryController</servlet-name>
		<servlet-class>com.team.controller.admin.RemoveCategoryController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveCategoryController</servlet-name>
		<url-pattern>/admin/cate/delete</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EditCategoryController</servlet-name>
		<servlet-class>com.team.controller.admin.EditCategoryController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditCategoryController</servlet-name>
		<url-pattern>/admin/cate/edit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddProductController</servlet-name>
		<servlet-class>com.team.controller.admin.AddProductController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddProductController</servlet-name>
		<url-pattern>/admin/product/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ImageProductController</servlet-name>
		<servlet-class>com.team.controller.admin.ImageProductController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImageProductController</servlet-name>
		<url-pattern>/admin/image/upload/product</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditProductController</servlet-name>
		<servlet-class>com.team.controller.admin.EditProductController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditProductController</servlet-name>
		<url-pattern>/admin/product/edit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RemoveProductController</servlet-name>
		<servlet-class>com.team.controller.admin.RemoveProductController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveProductController</servlet-name>
		<url-pattern>/admin/product/delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ListProductController</servlet-name>
		<servlet-class>com.team.controller.admin.ListProductController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListProductController</servlet-name>
		<url-pattern>/admin/list-product</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ListOrderedDetailController</servlet-name>
		<servlet-class>com.team.controller.admin.ListOrderedDetailController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListOrderedDetailController</servlet-name>
		<url-pattern>/admin/list-ordereddetail</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ListOrderController</servlet-name>
		<servlet-class>com.team.controller.admin.ListOrderController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListOrderController</servlet-name>
		<url-pattern>/admin/list-order</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RemoveOrderController</servlet-name>
		<servlet-class>com.team.controller.admin.RemoveOrderController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveOrderController</servlet-name>
		<url-pattern>/admin/order/delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateDeniedStatusController</servlet-name>
		<servlet-class>com.team.controller.admin.UpdateDeniedStatusController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateDeniedStatusController</servlet-name>
		<url-pattern>/admin/order/update-denied</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateFinishedStatusController</servlet-name>
		<servlet-class>com.team.controller.admin.UpdateFinishedStatusController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateFinishedStatusController</servlet-name>
		<url-pattern>/admin/order/update-finished</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ListBestSellerController</servlet-name>
		<servlet-class>com.team.controller.ListBestSellerController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListBestSellerController</servlet-name>
		<url-pattern>/view/user/shop/best-sold</url-pattern>
	</servlet-mapping>




	<session-config>
		<session-timeout>90</session-timeout>
	</session-config>
</web-app>